---
layout: default
permalink: /services/
title: Services
meta_description: Discover top-notch junk removal services in Mesa, AR, with Junk Removal Mesa. Our experienced team handles trash, furniture, hot tub, appliance, and scrap metal removal. Get reliable, hassle-free solutions today!

main-image: junk-removal.jpeg
---

<div class="py-vh-3 w-100 overflow-hidden">
  <div class="container">
    <div class="row d-flex ">
      <div class="col-lg-7">
        <h2 class="display-6">
          Handyman Services
        </h2>
        {% for cat in site.category-list %}
        <ul class="list-unstyled">
          {% for page in site.pages %}
          {% if page.resource == true %}
          {% for pc in page.categories %}
          {% if pc == cat %}
          <li class="py-2">
            <a href="{{ page.url }}" class="link-fancy">{{ page.title }}</a>
          </li>
          {% endif %}
          {% endfor %}
          {% endif %}
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
      <!-- col-lg-5 FORM-->
      {% include form.html %}
    </div>
  </div>
</div>